@import 'tailwindcss';

@theme {
  --color-background: #0a0a0a;
  --color-surface: #1a1a1a;
  --color-muted: #2a2a2a;
  --color-neutral: #e5e5e5;

  --color-primary: #4b5563;
  --color-primary-hover: #6b7280;

  --color-accent: #374151;
  --color-accent-hover: #4b5563;

  --color-error: #dc2626;
  --color-success: #4b5563;

  --color-dark: #000000;
  --color-light: #ffffff;
}

html {
  scroll-behavior: smooth;
}
